<h2>Sobre</h2>
<p>
     Resolvi me desfazer de todos meus livros na versão impressa. Meu objetivo até o final do ano é ter somente e-books. Por isso estou fazendo esse Mega Saldão.
</p>
<p>
    Tenha certeza que você deseja comprar antes de finalizar a compra e autenticar-se no PayPal.
    Após a confirmação do PayPal o débito será efetuado no seu cartão de crédito.
</p>
<p>
    A entrega pode ser combinada comigo através de <a href="http://flavors.me/alberto">meus contatos</a>
</p>
<p>
    Se tiver qualquer dúvida sobre algum produto, pergunte. Estou à disposição para respondê-lo.
</p>
