@model List<mega_saldao.Models.Product>
@section head
{
    <script src="@Url.Content("~/Scripts/simpleCart.min.js")" type="text/javascript"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            simpleCart({ checkout: { type: "PayPal", email: "achvaicer@gmail.com" }, currency: "BRL" });
            simpleCart({
                cartColumns: [
                    { attr: "name", label: "Nome" },
                    { attr: "price", label: "Preço", view: 'currency' },
                    { attr: "quantity", label: "Quantidade" },
                    { view: "remove", text: "Remover", label: false }
                    ]
                        });
            $(".btncart").click(function () {
                $(".well").toggle("slow");
            });
            $(".hero-unit").fadeOut(3000);
        });
    </script>
}

<div class="well" style="display:none">
    <div class="simpleCart_items row" >
    
    </div>

</div>
<div class="hero-unit">
    <h1>
        Boas Compras</h1>
    <p>
        Escolha os produtos que você deseja e boas compras.
    </p>
</div>
<ul class="thumbnails">
    @foreach (var product in Model)
    { 
        <li class="span3 simpleCart_shelfItem">
            <div class="thumbnail">
                <img height="141px" src="@product.ImageUrl" alt="">
                <h5 class="item_name">@product.Name</h5>
                <span class="item_price">R$ @product.Price</span> <a href="javascript:;" class="item_add btn">
                    Adicionar ao carrinho</a>
            </div>
        </li>
    }
</ul>
