@model List<mega_saldao.Models.Product>

<div class="hero-unit">
    <h1>
        Boas Compras</h1>
    <p>
        Escolha os produtos que você deseja e boas compras.
    </p>
</div>
<script type="text/javascript">
    $(".hero-unit").fadeOut(3000);    
</script>
<ul class="thumbnails">
    @foreach (var product in Model)
    { 
        <li class="span3 simpleCart_shelfItem">
            <div class="thumbnail">
                <img height="141px" src="@product.ImageUrl" alt="@product.Description">
                <h5 class="item_name">@product.Name</h5>
                <span class="item_price">R$ @product.Price</span> <a href="javascript:;" class="item_add btn">
                    Adicionar ao carrinho</a>
            </div>
        </li>
    }
</ul>
