
.headerRow div{
	color:#333;
}
.simpleCart_items{
	float:left;
	clear:left;
	margin:20px;
	width: 940px;
}
.itemContainer{
	clear:both;
	width:543px;
	padding:15px 0;
	font-size:11px;
	line-height:25px;
	height:10px;
}
.item-image{
	float:left;
	width:80px;
}
.item-image img{
	vertical-align:middle;
}
.item-name{
	float:left;
	width:160px;
}
.item-price{
	float:left;
	width:55px;
	color:#418932;
}
.item-quantity{
	float:left;
	width:105px;
	vertical-align:middle;
	text-align:center;
}
.item-quantity input{
	width:20px;
	border:1px solid #ccc;
	padding:3px 2px;
	margin:0 auto;
	display:block;
	font-size:11px;
}
.itemTotal{
	float:left;
	color:#c23f26;
	text-align:right;
	width:45px;
}
.totalRow{
	clear:both;
	float:left;
	margin-top:10px;
}
.totalItems{
	float:left;
	width:105px;
	margin-left:295px;
	text-align:center;
}
.totalPrice{
	float:right;
	text-align:right;
}